@import "@/assets/import"

.widget-serverbar-container
  $border-width: 5px
  $width: calc(map-read($config_element, "side-bar", "size")*1.2 + $border-width)
  $background-color: rgba(map-read($config_palette, "wrapper-secondary-color"), 0.5)
  $border-color: map-read($config_palette, "wrapper-secondary-color")
  width: $width !important
  min-width: $width !important
  background-color: $background-color !important
  border-width: 0px !important
  border-right-width: $border-width !important
  border-style: solid !important
  border-color: $border-color !important
  overflow-x: hidden !important
  overflow-y: scroll !important
  .server-container > .server, .option-container > .option
    $margin-vertical: 15px
    $size: $width - ($border-width*1.5)
    $background-color: map-read($config_palette, "wrapper-tertiary-color")
    $border-radius: 50%
    $border-width: 4px
    $border-color: map-read($config_palette, "accent-tertiary-color")
    $saturate: 25%
    margin-top: $margin-vertical !important
    width: $size !important
    height: $size !important
    min-width: $size !important
    min-height: $size !important
    background-color: $background-color !important
    object-fit: cover !important
    background-repeat: no-repeat !important
    background-position: center center !important
    border-radius: $border-radius !important
    border-width: $border-width !important
    border-style: solid !important
    border-color: $border-color !important
    filter: saturate($saturate) !important
    +vendor("transition", "all 0.5s ease !important")
    &:last-child
      margin-bottom: $margin-vertical !important
    &[isSelected="true"], &:hover
      $border-color: map-read($config_palette, "accent-primary-color")
      $saturate: 100%
      $rotate: -360deg
      border-color: $border-color !important
      filter: saturate($saturate) !important
      transform: rotate($rotate) !important
  .option-container
    .option
      $font-stroke: 0.5px
      $font-color: map-read($config_palette, "accent-primary-color")
      $background-color: map-read($config_palette, "wrapper-secondary-color")
      $border-color: map-read($config_palette, "accent-tertiary-color")
      $scale: 0.55
      stroke-width: $font-stroke !important
      color: $font-color !important
      stroke: $font-color !important
      background-color: $background-color !important
      border-color: $border-color !important
      filter: saturate(100%) !important
      transform: scale($scale, $scale) !important
      &:hover
        $font-color: map-read($config_palette, "accent-quinary-color")
        $border-color: map-read($config_palette, "accent-secondary-color")
        $rotate: 360deg
        color: $font-color !important
        stroke: $font-color !important
        border-color: $border-color !important
        filter: saturate(100%) !important
        transform: scale($scale*1.1, $scale*1.1) rotate($rotate) !important
  .widget-element-input-container, .widget-element-button-container
    $width: 375px
    width: $width !important
    min-width: $width !important
    max-width: $width !important
  .widget-element-input-container
    $margin-vertical: 7px
    margin-bottom: $margin-vertical !important
    &:hover:not([disabled]), &:focus:not([disabled])
      $width: calc($width + 50px)
      width: $width !important
      min-width: $width !important
      max-width: $width !important