/*----------------------------------------------------------------
     Resource: vClient (Server)
     Script: assets: configs: styles: overrides: generic.scss
     Author: vStudio
     Developer(s): Aviril, Mario, Tron
     DOC: 23/11/2021
     Desc: Generic Overrides
----------------------------------------------------------------*/


/*-------------
-- Overrides --
-------------*/

.disable-selection {
  @include vendor("user-select", "none !important");
  @include vendor("touch-callout", "none !important");
}

*:focus {
  @include vendor("outline", "none !important");
  @include vendor("text-decoration", "none !important");
  @include vendor("box-shadow", "none !important");
}

.hide-scroller {
  @include vendor("scrollbar-width", "none !important");
  @include vendor("overflow-style", "none !important");
  &::-webkit-scrollbar {
    display: none;
  }
}