@import "@/assets/import"

.view-messages-container
  .server-navigation-container
    $border-width: 5px
    $width: calc(map-read($config_element, "side-bar", "size")*1.2 + $border-width)
    $background-color: rgba(map-read($config_palette, "accent-secondary-color"), 0.25)
    $border-color: map-read($config_palette, "wrapper-secondary-color")
    width: $width !important
    min-width: $width !important
    background-color: $background-color !important
    border-width: 0px !important
    border-right-width: $border-width !important
    border-style: solid !important
    border-color: $border-color !important
    overflow-x: hidden !important
    overflow-y: scroll !important
    .servers-container > .server-logo, .action-container > .option-container
      $margin-vertical: 15px
      $size: $width - ($border-width*1.5)
      $background-color: map-read($config_palette, "wrapper-tertiary-color")
      $border-radius: 50%
      $border-color: map-read($config_palette, "wrapper-secondary-color")
      $saturate: 25%
      margin-top: $margin-vertical !important
      width: $size !important
      height: $size !important
      min-width: $size !important
      min-height: $size !important
      background-color: $background-color !important
      object-fit: cover !important
      background-repeat: no-repeat !important
      background-position: center center !important
      border-radius: $border-radius !important
      border-width: $border-width !important
      border-style: solid !important
      border-color: $border-color !important
      filter: saturate($saturate) !important
      +vendor("transition", "all 0.5s ease !important")
      &:last-child
        margin-bottom: $margin-vertical !important
      &:hover
        $saturate: 250%
        filter: saturate($saturate) !important
    .action-container
      .option-container
        $font-stroke: 0.5px
        $font-color: map-read($config_palette, "accent-primary-color")
        $background-color: map-read($config_palette, "wrapper-secondary-color")
        $scale: 0.7
        stroke-width: $font-stroke !important
        color: $font-color !important
        stroke: $font-color !important
        background-color: $background-color !important
        border-color: $background-color !important
        filter: saturate(100%) !important
        transform: scale($scale, $scale) !important
        &:hover
          $font-color: map-read($config_palette, "wrapper-secondary-color")
          $background-color: map-read($config_palette, "accent-quinary-color")
          color: $font-color !important
          stroke: $font-color !important
          background-color: $background-color !important
          filter: saturate(100%) !important
          transform: scale($scale, $scale) rotate(360deg) !important
  .navigation-container
    $padding: 5px
    $width: map-read($config_element, "content-bar", "size")
    $font: "Typo Round"
    $font-size: 10px
    $font-weight: 800
    $font-spacing: 2px
    $font-color: map-read($config_palette, "wrapper-secondary-color")
    $background-color: map-read($config_palette, "wrapper-primary-color")
    $border-width: 0px
    $border-color: rgba(map-read($config_palette, "wrapper-secondary-color"), 1)
    padding: 0px !important
    padding-right: $padding !important
    width: $width !important
    min-width: $width !important
    font-family: $font !important
    font-size: $font-size !important
    font-weight: $font-weight !important
    letter-spacing: $font-spacing !important
    color: $font-color !important
    background-color: $background-color !important
    border-width: 0px !important
    border-style: solid !important
    border-color: $border-color !important
    .contacts-container
      overflow-x: hidden !important
      overflow-y: scroll !important
      .widget-contactbar-container
        cursor: pointer !important
  .navigation-header, .view-header
    $height: 35px
    $font: "Megi Sans"
    $font-size: 12px
    $font-weight: 800
    $font-spacing: 2px
    $background-color: rgba(map-read($config_palette, "accent-secondary-color"), 1)
    $border-width: 5px
    padding-left: 10px !important
    color: rgba(map-read($config_palette, "wrapper-primary-color"), 1)
    height: $height !important
    min-height: $height !important
    max-height: $height !important
    line-height: calc($height - 5px) !important
    font-family: $font !important
    font-size: $font-size !important
    font-weight: $font-weight !important
    letter-spacing: $font-spacing !important
    background-color: $background-color !important
    border-width: 0px !important
    border-bottom-width: $border-width !important
    border-style: solid !important
    border-color: map-read($config_palette, "wrapper-secondary-color")
    &.navigation-header
      +vendor("text-transform", "uppercase !important")
  .view-container
    $background-color: rgba(map-read($config_palette, "wrapper-tertiary-color"), 0.9)
    background-color: $background-color !important
    .content-container
      $padding: 5px
      padding: $padding*2 $padding*2 !important
      margin-bottom: $padding !important
      overflow-x: hidden !important
      overflow-y: scroll !important
      .widget-chatbox-container
        margin-top: 15px !important
        &:first-child
          margin-top: 0px !important
    .action-container
      $border-width: 1px
      $border-color: rgba(map-read($config_palette, "accent-tertiary-color"), 0.5)
      padding: 10px 10px !important
      border-width: 0px !important
      border-top-width: $border-width !important
      border-style: solid !important
      border-color: $border-color !important
      .chat-input
        $padding: 10px 10px
        $height: 27px
        $font-size: 15px
        $font-weight: 600
        $font-color: map-read($config_palette, "accent-secondary-color")
        $background-color: map-read($config_palette, "wrapper-secondary-color")
        $border-radius: 5px
        $border-width: 4px
        $border-color: map-read($config_palette, "accent-primary-color")
        padding: $padding !important
        height: $height !important
        line-height: $height !important
        font-size: $font-size !important
        font-weight: $font-weight !important
        color: $font-color !important
        background: $background-color !important
        border-width: 0px !important
        border-left-width: $border-width !important
        border-radius: $border-radius !important
        border-style: solid !important
        border-color: $border-color !important