@import "@/assets/import"

.element-dropdown-container
  //$width: map-read($config_element, "dropdown", "width")
  //$height: map-read($config_element, "dropdown", "height")
  margin-left: 100px !important
  $font-size: 17px
  $font-weight: 500
  $font-color: map-read($config_palette, "accent-secondary-color")
  $background-color: map-read($config_palette, "wrapper-secondary-color")
  $border-radius: 5px
  $border-width: 2px
  $border-color: map-read($config_palette, "wrapper-primary-color")
  width: 200px !important
  height: 300px !important
  //width: $width !important
  //height: calc($height - $border-width)
  //line-height: calc($height - $border-width) !important
  +vendor("text-align", "center !important")
  font-family: "Megi Sans" !important
  font-size: $font-size !important
  font-weight: $font-weight !important
  color: $font-color !important
  background-color: $background-color !important
  border-radius: $border-radius !important
  border-width: $border-width !important
  border-style: solid !important
  //border-bottom-width: $border-width !important
  border-color: $border-color !important
  +vendor("transition", "all 0.5s ease !important")