@import "@/assets/import"

.element-dropdown-container
  $width: map-read($config_element, "dropdown", "width")
  $font: "Megi Sans"
  $font-size: 13px
  $font-weight: 800
  $font-spacing: 2px
  $font-color: map-read($config_palette, "accent-secondary-color")
  $background-color: map-read($config_palette, "wrapper-primary-color")
  $border-radius: 4px
  $border-width: 4px
  $border-color: map-read($config_palette, "wrapper-secondary-color")
  z-index: 1 !important
  width: $width !important
  +vendor("text-align", "left !important")
  font-family: $font !important
  font-size: $font-size !important
  font-weight: $font-weight !important
  letter-spacing: $font-spacing !important
  color: $font-color !important
  background-color: $background-color !important
  border-radius: $border-radius !important
  border-width: $border-width !important
  border-style: solid !important
  border-color: $border-color !important
  +vendor("transition", "all 0.5s ease !important")
  .dropdown-header
    $padding-horizontal: 10px
    $height: map-read($config_element, "dropdown", "title", "height")
    $font: "Megi Sans"
    $font-weight: 800
    $font-color: map-read($config_palette, "accent-secondary-color")
    $background-color: map-read($config_palette, "wrapper-secondary-color")
    $border-width: 1px
    $border-color: map-read($config_palette, "accent-secondary-color")
    padding: 0 0 !important
    padding-left: $padding-horizontal !important
    height: $height !important
    min-height: $height !important
    max-height: $height !important
    line-height: $height !important
    +vendor("white-space", "nowrap")
    +vendor("text-transform", "uppercase !important")
    font-family: $font !important
    font-size: $font-size !important
    font-weight: $font-weight !important
    color: $font-color !important
    background-color: $background-color !important
    border-radius: 0px !important
    border-width: 0px !important
    border-bottom-width: $border-width !important
    border-style: solid !important
    border-color: $border-color !important
  .dropdown-container
    $margin-vertical: 5px
    margin-top: $margin-vertical !important
    > *
      $padding-horizontal: 10px
      $height: map-read($config_element, "dropdown", "option", "height")
      $background-color: map-read($config_palette, "wrapper-tertiary-color")
      $border-radius: 2px
      cursor: pointer !important
      padding-left: $padding-horizontal !important
      margin-top: $margin-vertical !important
      height: $height !important
      min-height: $height !important
      max-height: $height !important
      line-height: $height !important
      +vendor("white-space", "nowrap")
      background-color: $background-color !important
      border-radius: $border-radius !important
      +vendor("transition", "all 0.5s ease !important")
      &:first-child
        margin-top: 0px !important
      &:hover
        $margin-horizontal: 15px
        $font-color: map-read($config_palette, "wrapper-secondary-color")
        $background-color: map-read($config_palette, "accent-secondary-color")
        margin-left: $margin-horizontal !important
        color: $font-color !important
        background-color: $background-color !important
