@import "@/assets/import"

.widget-viewbar-container
  $height: map-read($config_element, "side-bar", "size")
  $background-color: map-read($config_palette, "wrapper-primary-color")
  top: 0 !important
  height: $height !important
  max-height: $height !important
  background-color: $background-color !important
  overflow-x: scroll !important
  overflow-y: hidden !important
  .menu-icon
    $font-size: 12px
    $font-stroke: 2px
    $font-color: map-read($config_palette, "accent-primary-color")
    height: $height !important
    line-height: $height !important
    font-size: $font-size !important
    color: $font-color !important
    stroke-width: $font-stroke !important
    color: $font-color !important
    stroke: $font-color !important
  .menu-header
    $padding: 0px 5px
    $font: "Megi Sans"
    $font-size: 12px
    $font-weight: 800
    $font-spacing: 2px
    $font-color: map-read($config_palette, "accent-primary-color")
    padding: $padding !important
    height: $height !important
    line-height: $height !important
    font-family: $font !important
    font-size: $font-size !important
    letter-spacing: $font-spacing !important
    font-weight: $font-weight !important
    color: $font-color !important
    +vendor("text-transform", "uppercase !important")
  .viewbar-container
    height: $height !important
    > *
      $margin-horizontal: 7px
      $padding-horizontal: 10px
      $font: "Typo Round"
      $font-size: 20px
      $font-weight: 800
      $font-stroke: 0.4px
      $font-spacing: 2px
      $font-color: map-read($config_palette, "accent-tertiary-color")
      margin-left: $margin-horizontal !important
      padding: 0px $padding-horizontal !important
      +vendor("white-space", "nowrap")
      +vendor("text-align", "left !important")
      font-family: $font !important
      font-size: $font-size !important
      font-weight: $font-weight !important
      stroke-width: $font-stroke !important
      letter-spacing: $font-spacing !important
      color: $font-color !important
      stroke: $font-color !important
      +vendor("transition", "all 0.25s ease !important")
      &:first-child
        margin-left: 0px !important
