@import "@/assets/import"

.widget-server-channelbar-container
  $padding-horizontal: 5px
  $width: map-read($config_element, "content-bar", "size")
  $font: "Typo Round"
  $font-size: 10px
  $font-weight: 800
  $font-spacing: 2px
  $font-color: map-read($config_palette, "wrapper-secondary-color")
  $background-color: map-read($config_palette, "wrapper-primary-color")
  padding: 0px !important
  padding-right: $padding-horizontal !important
  width: $width !important
  min-width: $width !important
  font-family: $font !important
  font-size: $font-size !important
  font-weight: $font-weight !important
  letter-spacing: $font-spacing !important
  color: $font-color !important
  background-color: $background-color !important
  border-width: 0px !important
  border-style: solid !important
  border-color: rgba(0, 0, 0, 0) !important
  .channelbar-header
    $padding-horizontal: 10px
    $height: 35px
    $font: "Typo Round"
    $font-size: 13px
    $font-weight: 800
    $font-spacing: 2px
    $font-color: map-read($config_palette, "wrapper-primary-color")
    $background-color: map-read($config_palette, "accent-secondary-color")
    $border-width: 5px
    $border-color: map-read($config_palette, "wrapper-secondary-color")
    padding-left: $padding-horizontal !important
    height: $height !important
    min-height: $height !important
    max-height: $height !important
    line-height: calc($height - $border-width) !important
    +vendor("white-space", "nowrap")
    +vendor("text-transform", "uppercase !important")
    font-family: $font !important
    font-size: $font-size !important
    font-weight: $font-weight !important
    letter-spacing: $font-spacing !important
    color: $font-color !important
    background-color: $background-color !important
    border-width: 0px !important
    border-bottom-width: $border-width !important
    border-style: solid !important
    border-color: $border-color !important
  .channelbar-container
    overflow-x: hidden !important
    overflow-y: scroll !important
    > *
      $margin-vertical: 15px
      margin-bottom: $margin-vertical !important
    .channel-container
      > *
        $padding-horizontal: 10px
        padding-left: $padding-horizontal !important
      .container-header
        $height: 30px
        $font-size: 14px
        $font-color: map-read($config_palette, "accent-primary-color")
        +vendor("white-space", "nowrap")
        font-family: "Megi Sans" !important
        font-size: $font-size !important
        color: $font-color !important
        height: $height !important
        min-height: $height !important
        max-height: $height !important
        letter-spacing: 2px !important
        text-transform: uppercase !important
        .channel-adder
          $font-size: 25px
          stroke-width: 0.4px !important
          font-size: $font-size !important
          $font-color: map-read($config_palette, "accent-primary-color")
          +vendor("transition", "all 0.5s ease !important")
          color: $font-color !important
          stroke: $font-color !important
          &:hover
            $font-color: map-read($config_palette, "accent-secondary-color")
            color: $font-color !important
            stroke: $font-color !important
            transform: rotate(360deg) scale(1.07, 1.07) !important
      .channel
        $height: 30px
        $border-radius: 2px
        $font-size: 14px
        $font-color: map-read($config_palette, "accent-secondary-color")
        $background-color: rgba(map-read($config_palette, "wrapper-tertiary-color"), 1)
        +vendor("white-space", "nowrap")
        width: 100% !important
        font-size: $font-size !important
        color: $font-color !important
        height: $height !important
        min-height: $height !important
        max-height: $height !important
        border-radius: $border-radius !important
        background-color: $background-color !important
        margin-top: 5px !important
        border-width: 0px !important
        border-style: solid !important
        border-color: rgba(0, 0, 0, 0) !important
        +vendor("transition", "all 0.5s ease !important")
        &:first-child
          margin-top: 0px !important
        &[isSelected="true"], &:hover
          $font-color: map-read($config_palette, "wrapper-secondary-color")
          $background-color: rgba(map-read($config_palette, "accent-secondary-color"), 1)
          color: $font-color !important
          background-color: $background-color !important
        &[isSelected="true"]
          transform: translateX(15px) !important