@import "@/assets/import"

.widget-server-channelbar-container
  $padding-horizontal: 5px
  $width: map-read($config_element, "content-bar", "size")
  $background-color: map-read($config_palette, "wrapper-primary-color")
  padding: 0px !important
  padding-right: $padding-horizontal !important
  width: $width !important
  min-width: $width !important
  background-color: $background-color !important
  border-width: 0px !important
  border-style: solid !important
  border-color: rgba(0, 0, 0, 0) !important
  .channelbar-header
    $padding-horizontal: 10px
    $height: map-read($config_element, "info-bar", "size")
    $font: "Typo Round"
    $font-size: 13px
    $font-weight: 800
    $font-spacing: 2px
    $font-color: map-read($config_palette, "wrapper-primary-color")
    $background-color: map-read($config_palette, "accent-secondary-color")
    $border-width: 5px
    $border-color: map-read($config_palette, "wrapper-secondary-color")
    padding-left: $padding-horizontal !important
    height: $height !important
    min-height: $height !important
    max-height: $height !important
    line-height: calc($height - $border-width) !important
    +vendor("white-space", "nowrap")
    +vendor("text-transform", "uppercase !important")
    font-family: $font !important
    font-size: $font-size !important
    font-weight: $font-weight !important
    letter-spacing: $font-spacing !important
    color: $font-color !important
    background-color: $background-color !important
    border-width: 0px !important
    border-bottom-width: $border-width !important
    border-style: solid !important
    border-color: $border-color !important
  .channelbar-container
    $font: "Megi Sans"
    $font-size: 10px
    $font-weight: 800
    $font-spacing: 2px
    $font-color: map-read($config_palette, "wrapper-secondary-color")
    font-family: $font !important
    font-size: $font-size !important
    font-weight: $font-weight !important
    letter-spacing: $font-spacing !important
    color: $font-color !important
    overflow-x: hidden !important
    overflow-y: scroll !important
    > *
      $margin-vertical: 5px
      margin-bottom: $margin-vertical !important
    .channel-container
      > *
        $padding-horizontal: 10px
        padding-left: $padding-horizontal !important
      .container-header
        $height: map-read($config_element, "channel-bar", "category", "size")
        $font-size: 13px
        $font-spacing: 2px
        $font-color: map-read($config_palette, "accent-primary-color")
        $background-color: map-read($config_palette, "wrapper-secondary-color")
        $border-width: 1px
        $border-color: map-read($config_palette, "accent-primary-color")
        height: $height !important
        min-height: $height !important
        max-height: $height !important
        +vendor("white-space", "nowrap")
        +vendor("text-transform", "uppercase !important")
        font-size: $font-size !important
        letter-spacing: $font-spacing !important
        color: $font-color !important
        background-color: $background-color !important
        border-width: 0px
        border-bottom-width: $border-width !important
        border-style: solid !important
        border-color: $border-color !important
        .channel-adder
          $font-size: 24px
          $font-stroke: 0.4px
          $font-color: map-read($config_palette, "accent-primary-color")
          font-size: $font-size !important
          stroke-width: $font-stroke !important
          color: $font-color !important
          stroke: $font-color !important
          +vendor("transition", "all 0.5s ease !important")
          &:hover
            $font-color: map-read($config_palette, "accent-secondary-color")
            $rotation: 360deg
            color: $font-color !important
            stroke: $font-color !important
            transform: rotate($rotation) !important
      .channel
        $margin-vertical: 5px
        $height: map-read($config_element, "channel-bar", "size")
        $font-size: 13px
        $font-color: map-read($config_palette, "accent-secondary-color")
        $background-color: map-read($config_palette, "wrapper-tertiary-color")
        $border-radius: 2px
        margin-top: $margin-vertical !important
        height: $height !important
        min-height: $height !important
        max-height: $height !important
        +vendor("white-space", "nowrap")
        font-size: $font-size !important
        color: $font-color !important
        background-color: $background-color !important
        border-radius: $border-radius !important
        border-width: 0px !important
        border-style: solid !important
        border-color: rgba(0, 0, 0, 0) !important
        +vendor("transition", "all 0.5s ease !important")
        &:first-child
          margin-top: 0px !important
        &[isSelected="true"], &:hover
          $font-color: map-read($config_palette, "wrapper-secondary-color")
          $background-color: map-read($config_palette, "accent-primary-color")
          color: $font-color !important
          background-color: $background-color !important
        &[isSelected="true"]
          $margin-horizontal: 30px
          margin-left: $margin-horizontal !important