@import "@/assets/import"

.widget-server-channelbar-container
  $padding: 5px
  $width: map-read($config_element, "content-bar", "size")
  $font: "Typo Round"
  $font-size: 10px
  $font-weight: 800
  $font-spacing: 2px
  $font-color: map-read($config_palette, "wrapper-secondary-color")
  $background-color: map-read($config_palette, "wrapper-primary-color")
  padding: 0px !important
  padding-right: $padding !important
  width: $width !important
  min-width: $width !important
  font-family: $font !important
  font-size: $font-size !important
  font-weight: $font-weight !important
  letter-spacing: $font-spacing !important
  color: $font-color !important
  background-color: $background-color !important
  border-width: 0px !important
  border-style: solid !important
  border-color: rgba(0, 0, 0, 0) !important
  .contacts-container
    overflow-x: hidden !important
    overflow-y: scroll !important
    > *
      margin-bottom: 15px !important
  .groupbar-header
    $height: 35px
    $font: "Typo Round"
    $font-size: 13px
    $font-weight: 800
    $font-spacing: 2px
    $background-color: map-read($config_palette, "accent-secondary-color")
    $border-width: 5px
    padding-left: 10px !important
    color: rgba(map-read($config_palette, "wrapper-primary-color"), 1)
    height: $height !important
    min-height: $height !important
    max-height: $height !important
    line-height: calc($height - 5px) !important
    +vendor("text-transform", "uppercase !important")
    font-family: $font !important
    font-size: $font-size !important
    font-weight: $font-weight !important
    letter-spacing: $font-spacing !important
    background-color: $background-color !important
    border-width: 0px !important
    border-bottom-width: $border-width !important
    border-style: solid !important
    border-color: map-read($config_palette, "wrapper-secondary-color")

  .channel-container
    $height: map-read($config_element, "contact-bar", "size")
    $font-color: map-read($config_palette, "accent-secondary-color")
    color: $font-color !important
    //background-color: red !important
    .container-header
      $height: 35px
      $border-radius: 4px
      $font-size: 14px
      $font-color: map-read($config_palette, "wrapper-secondary-color")
      $background-color: map-read($config_palette, "accent-secondary-color")
      padding-left: 10px !important
      text-align: left !important
      width: 100% !important
      font-size: $font-size !important
      color: $font-color !important
      height: $height !important
      min-height: $height !important
      max-height: $height !important
      border-radius: 0px !important
      border-top-left-radius: $border-radius !important
      border-top-right-radius: $border-radius !important
      background-color: $background-color !important
      .channel-adder
        $font-size: 25px
        font-size: $font-size !important
        +vendor("transition", "all 0.5s ease !important")
        &:hover
         transform: rotate(360deg) scale(1.15, 1.15) !important
    .channel
      $height: 35px
      $border-radius: 2px
      $font-size: 14px
      $font-color: map-read($config_palette, "accent-secondary-color")
      $background-color: rgba(map-read($config_palette, "wrapper-secondary-color"), 1)
      padding-left: 10px !important
      text-align: left !important
      width: 100% !important
      font-size: $font-size !important
      color: $font-color !important
      height: $height !important
      min-height: $height !important
      max-height: $height !important
      border-radius: $border-radius !important
      background-color: $background-color !important
      margin-top: 5px !important
      border-width: 0px !important
      border-bottom-width: 2px !important
      border-top-width: 2px !important
      border-style: solid !important
      border-color: rgba(0, 0, 0, 0) !important
      +vendor("transition", "all 0.5s ease !important")
      &:first-child
        margin-top: 0px !important
      &[isSelected="true"], &:hover
        $font-color: map-read($config_palette, "accent-primary-color")
        color: $font-color !important
        border-color: rgba(map-read($config_palette, "accent-primary-color"), 1) !important
        letter-spacing: 5px !important