/*----------------------------------------------------------------
     Resource: vCommunity-Client
     Script: assets: import.scss
     Author: vStudio
     Developer(s): Aviril, Mario, Tron
     DOC: 23/11/2021
     Desc: Style Importer
----------------------------------------------------------------*/


/*-------------
-- Libraries --
-------------*/

@import "@/assets/libraries/styles/mapper";
@import "@/assets/libraries/styles/vendorizer";


/*------------------
-- Configurations --
------------------*/

@import "@/assets/configs/styles/generic";
@import "@/assets/configs/styles/overrides/generic";


/*---------
-- Fonts --
---------*/

@each $fontName, $fontURL in $config_fonts {
  @font-face {
    font-family: $fontName;
    src: url($fontURL);
  }
}