@import "@/assets/import"

.view-contacts-container
  $padding: 5px 5px
  $background-color: rgba(map-read($config_palette, "wrapper-primary-color"), 0.95)
  padding: $padding !important
  background-color: $background-color !important
  .navigation-container
    $padding: 5px
    $height: 30px
    $font: "Typo Round"
    $font-size: 10px
    $font-weight: 800
    $font-spacing: 2px
    $font-color: map-read($config_palette, "wrapper-secondary-color")
    $border-width: 1px
    $border-color: rgba(map-read($config_palette, "accent-tertiary-color"), 0.5)
    padding-bottom: $padding !important
    height: $height !important
    font-family: $font !important
    font-size: $font-size !important
    font-weight: $font-weight !important
    letter-spacing: $font-spacing !important
    color: $font-color !important
    border-width: 0px !important
    border-bottom-width: $border-width !important
    border-style: solid !important
    border-color: $border-color !important
    .navigation
      $margin: 0px 2px
      $padding: 0px 10px
      $height: $height - 8px
      $background-color: rgba(map-read($config_palette, "accent-tertiary-color"), 0.5)
      $border-width: 2px
      $border-radius: 4px
      margin: $margin !important
      padding: $padding !important
      width: fit-content !important
      min-width: fit-content !important
      height: $height !important
      line-height: $height !important
      +vendor("text-align", "center")
      +vendor("text-transform", "uppercase !important")
      background-color: $background-color !important
      border-width: 0px !important
      border-radius: $border-radius
      border-style: solid !important
      border-color: rgba(0, 0, 0, 0) !important
      +vendor("transition", "all 0.3s ease !important")
      &:first-child
        margin-left: 0px !important
      &.selected, &:hover
        background-color: map-read($config_palette, "accent-primary-color") !important
  .contacts-container
    $margin-vertical: 5px
    margin-top: $margin-vertical !important
    overflow-x: hidden !important
    overflow-y: scroll !important
    .widget-contactbar-container
      &:hover
        $margin-horizontal: 30px
        margin-left: $margin-horizontal !important